* {
  box-sizing border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size:22px;  
}

.menu {
  background:#5a5;  
  list-style: none;
  margin:0;
  padding:0;
}


.menu li a {
  color:#f1f1f1;
  font-size:1.5em;
  text-decoration: none;
  padding:1em;
  display:block;
  text-align:center;
  border-bottom:1px #000 solid;
}

.menu li:last-of-type a {
  border-bottom:0;
}

.menu li a:hover {
  color:#fff;
  background:#6c6;
}

.menu li a.active {
  color:#fff;
  font-weight:bold;
}

.container {
  width:100%;
  margin: 0 auto;
} 


/* Tablet */
@media screen and (min-width:768px) {

  body {
    background:#aff;
    font-size:16px;
  }
  
  .menu li {
    display:inline-block;
  }
  
  .menu li a {
    display:inline-block;
    text-align:left;
    border:0;
  }
  
  
}


/* Desktop */
@media screen and (min-width:1024px) {
 
  body {
    background:#faf;
    font-size:14px;
  }
  

  .container {
    width:800px;
    margin: 0 auto;
  }
  
}